<div class="panel panel-default">
	<div class="panel-heading">
		<div classs="panel-title">
	<p>Hello <%= @resource.email %>!</p>
		</div>

<div class="panel-body">
<p>Someone has requested a link to change your password. You can do this through the link below.</p>
</div>

<div class="form-group">
	<%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class: "btn btn-primary" %>
</div>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

